* {
    padding: 0;
    margin: 0;
    font-family: open-sans, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}
img {
    max-width: 100%;
}
header {
    padding: 36px 0;
    background: #73D273;
    border-radius: 0px 0px 32px 32px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_links {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.nav_link {
    display: inline-block;
    color: #131313;
    text-decoration: none;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.header_text {
    margin-top: 24px;
}
.img_arms {
    width: 45%;
}

main {
    margin: 80px 0;
}

.stories_blocks, .advices_blocks {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.story_block, .advice {
    width: 32%;
    padding: 24px;
    background: #FCFCFC;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
}
.advice {
    width: 24%;
}
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user_name {
    margin-left: 10px;
}
.block_text, .advice_text {
    margin: 20px 0;
}
.read_all, .advice_link, .discus_read_all {
    color: #73D273;
}
.arrow {
    margin-left: 5px;
    width: 7%;
}
.see_more {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    border: 2px solid #73D273;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #73D273;
    background-color: #FFFFFF;
    margin-bottom: 80px;
}
.advice_tittle {
    color: #73D273;
}

.padding {
    margin-top: 20px;
    padding: 50px 0 200px 0;
    background-color: #EEEEEE;
    
}
.padding_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.padding_logo_and_text {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.padding_text {
    width: 50%;
}

.see_more:hover {
    background-color: #73D273;
    color: white;
    transition: 0.3s;
}
.user_profile_icon {
    border: none;
    background-color: #73D273;
    margin-left: 20px;
}


.entrance, .registraion {
    position: fixed;
    transition: .4s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.entrance_closed, .registraion_closed {
    visibility: hidden;
    opacity: 0;
}
.entrance_window, .registration_window {
    position: relative;
    margin: auto;
    background-color: white;
    width: 40%;
    padding: 20px 50px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entrance_window_closer, .registration_window_closer, .entrance_window_closer2, .registration_window_closer2 {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
}
input[type="file"] {
    display: none;
}
.form_div, .entrance_div {
    margin: 10px;
    padding: 20px 20px 10px 20px;
    text-align: left;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    margin: 15px 0 0 0;
}
input {
    width: 100%;
    padding: 10px 0;
    border: none;
}
input:focus {
    outline: none;
}
.enter {
    width: 100%;
    background: #73D273;
    border: 2px solid #73D273;
    border-radius: 1000px;
    padding: 20px;
    margin-top: 20px;
}
.enter:hover {
    color: #73D273;
    background: white;
    transition: .4s;
}
.registration_button {
    width: 100%;
    color: #73D273;
    border-radius: 1000px;
    padding: 20px;
    border: 2px solid #73D273;
    margin-top: 20px;
}
.registration_button:hover {
    background: #73D273;
    color: black;
    transition: .4s;
}

.registeration_text {
    margin: 10px;
}
#tell_your_story_textarea {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}
#password_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-eye-slash {
    visibility: hidden;
    opacity: 0;
}
.entrance_div, .password_div {
    position: relative;
}
i {
    position: absolute;
    bottom: 20px;
    right: 30px;
}



.discussion {
    background: #FCFCFC;
    border: 1px solid #73D273;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.introduction {
    margin-bottom: 40px;
}
.discuser {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.discuser_admin_ava {
    width: 7%;
}
.discuser_ava {
    width: 3%;
    margin-right: 10px;
}
.discuser_name {
    font-size: 14px;
}
.discus_h2 {
    color: black;
    text-decoration: none;
    margin: 15px 0;
}
.discus_read_all {
    margin-top: 15px;
}
.discus_arrow {
    margin-left: 5px;
    width: 2%;
}

















@media(max-width: 1050px){
    .advice {
        width: 49%;
        margin-bottom: 20px;
    }
    .entrance_window, .registration_window {
        width: 500px;
    }
}
@media(max-width: 950px){
    .story_block {
        width: 100%;
    }
    
}
@media(max-width: 850px){
    .header_info {
        width: 55%;
        margin: 20px 0 ;
    }
    .img_arms{
        width: 40%;
    } 
    .padding_logo_and_text {
        width: 60%;
    }
}
@media(max-width: 680px){
    .nav_logo {
        width: 20%;
    }
    .user_profile_icon {
        width: 8%;
        margin-left: 0;
    }
    .nav_link {
        width: 40%;
        margin-left: 10px;
        text-align: center;
    }
    .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }
    .header_info {
        width: 100%;
    }
    h1 {
        width: 50%;
        margin-bottom: 20px;
    }
    .img_arms {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50%;
    }
    .advice {
        width: 100%;
    }
    .padding_logo_and_text {
        flex-direction: column;
    }
    .padding_text {
        width: 80%;
    }
    .nav_logo {
        width: 25%;
    }
    .padding_nav_logo {
        width: 40%;
        margin-bottom: 20px;
    }
    .entrance_window, .registration_window {
        width: 400px;
    }
}
@media(max-width: 620px) {
    .logos {
        width: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
    }
    .logo {
        width: 40%;
    }
    .user_profile_icon {
        width: 15%;
    }
    .nav_logo {
        width: 30%;
    }
    .nav_links {
        width: 60%;
    }
    .entrance_window, .registration_window {
        width: 100%;
    }
}
@media(max-width: 560px) {
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        width: 55%;
    }
    .img_arms {
        width: 40%;
        top: 20px;
    }   
}
@media(max-width: 400px) {
    * {
        font-size: small;
    }
    .padding_container {
        flex-direction: column;
    }
    .padding_logo_and_text {
        width: 100%;
        margin-bottom: 20px;
    }
    .logos {
        width: 70%;
        flex-direction: row;
        justify-content: space-between; 
    }
    .logo {
        width: 20%;
    }
    .img_arms {
        visibility: hidden;
        opacity: 0;
    }
    h1 {
        width: 100%;
        font-size: 20px;
    }
    .nav_link {
        margin-left: 0;
    }
    #window_closer, #window_closer2 {
        top: 5px;
        right: 5px;
    }
}

